#animal-buttons {
    border: solid 1px black;
}

#gif-section {
    border: solid 1px black;
}

#add-animal {
    border: solid 1px black;
}

.animalBtn {
    margin: 4px;
}

.rate-styling {
    padding-bottom: 10px;
    width: 200px;
    margin: 0;
}