body, html {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#text {
    color: white;
}

#animal-form {
    position: sticky;
    top: 0;
    border: inset 2px indigo;
    padding: 10px;
}

#add-animal {
    opacity: 0.7;
}

#add-animal:hover {
    color: purple;
    background-color: lightpink;
}

#animal-buttons {
    margin-bottom: 20px;
}

#adding-animals {
    margin-top: 40px;
}

.animalBtn {
    margin: 4px;
    opacity: 0.7;
}

.animalBtn:hover {
    color: purple;
    background-color: lightpink;
}

.gif {
    margin: auto;
}

.rate-styling {
    padding-bottom: 10px;
    width: 200px;
    color: white;
    text-emphasis: bold;
}