body, html {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#text {
    color: white;
}

#animal-buttons {
    border: solid 1px black;
    margin-bottom: 20px;
}

#gif-section {
    border: solid 1px black;
}

#adding-animals {
    border: solid 1px black;
}

.animalBtn {
    margin: 4px;
}

.animalBtn:hover {
    color: purple;
    background-color: lightpink;
}

.gif {
    margin: auto;
}

.rate-styling {
    padding-bottom: 10px;
    width: 200px;
    color: white;
}